<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1、开启spring mvc注解模式-->
    <!--简化配置
        1）自动注册DefaultAnnotationHandlerMapping ,AnnotationMethodHandlerAdapter
        2)提供一系列：数据绑定 数字和日期的formate @NumberFormate ,@DateTimeFormate
        xml json 默认读写支持
        -->
    <mvc:annotation-driven />
    <!--servlet-mapping  映射路径是 /
    1、加入对静态资源处理
    2、允许用"/" 做映射
    -->
   <mvc:default-servlet-handler/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
<!--4、扫描web相关的bean-->
    <context:component-scan base-package="com.neuq.info.web"/>

    <mvc:interceptors>
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
        <!--<bean class="com.neuq.info.interceptor.AllInterceptor"/>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/wx/getSession"/>
            <mvc:exclude-mapping path="/wx/decodeUserInfo"/>
            <mvc:exclude-mapping path="/api/**"/>
            <mvc:exclude-mapping path="/v2/api-docs"/>

            <bean class="com.neuq.info.interceptor.SessionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--<mvc:resources mapping="*.html" location="/"/>-->
    <!--<mvc:resources mapping="/**" location="/"/>-->
</beans>
